<div class="content-wrapper">
    
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Libros</h1>
          </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Libros</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- contenedor -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Lista de Libros</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool .btn-flat" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
             
              </div>              
            </div>
            <div class="card-header">
            <span class="pull-left"><a href="/libros/add"  class="btn btn-primary btn-sm" style = " float: right;" ><span class="glyphicon glyphicon-plus"></span>
              <i class="fas fa-plus"></i>
                              Agregar Libro
                          </a> <br>
              </div>

            <div class="card-body">

            
              <table  class="table table-bordered table-hover AllDataTables">
                <thead>
                <tr>
                 
                  <th>Codigo</th>
                  <th>ISBN</th>
                  <th>Titulo</th>
                  <th>Autor</th>
                  <th>Año Publicacion</th>
                  <th>Stock</th>
                  <th>Accion</th>
                  
                </tr>
                </thead>
                <tbody>
                    {{#each libros}}
                    
                      <tr>
                  
                  <td>{{codigo_libro}}</td>
                  <td>{{isbn_libro}}</td>
                  <td>{{titulo_libro}}</td>
                  <td>{{autor_libro}}</td>
                  <td>{{publicacion_libro}}</td>
                  <td>{{stock_libro}}</td>
                  <td><a href="/libros/edit/{{id_libros}}"  class="btn btn-info btn-sm">
	<i class="fas fa-pencil-alt"></i>
	Editar</a> 
	<a href="/libros/delete/{{id_libros}}"  class="btn btn-danger btn-sm">
	<i class="fas fa-trash"></i>
	 Eliminar</a></td>
                  
                </tr>
                {{/each}}
    
                </tbody>
              
              </table>
            </div>
            
          </div>
         
        </div>
      
      </div>
    
    </section>
  
  </div>
</div>